.card-list
{
    display: flex;
    gap: 2vh;

    margin-top: 5vh;
    margin-left: 5vw;
}

.card-list .card
{
    width: 20vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #FEFEFE;
    border-radius: 2vh;

    box-shadow: 0vh 1vh 1vh #12121234;
}

.card
{
    width: 20vh;
    cursor: pointer;
}

.card-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.pend-h5
{
    font-size: 1.7vh;
    font-weight: medium;

    color: #FEFEFE !important;

    background-color: rgb(255, 0, 0);
    padding: 0.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;

    border-radius: 2vh;

    position: relative;
    
}

.conc-h5
{
    font-size: 1.7vh;
    font-weight: medium;

    color: #FEFEFE !important;

    background-color: rgb(12, 158, 68);
    padding: 0.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;

    border-radius: 2vh;
}

#options_form
{
    display: flex;
    width: fit-content;
    gap: 20px;

    position: absolute;
    bottom: 5%;
    left: 40%;

    background-color: #CECECE;
    border-radius: 2vh;
}

#options_form button
{
    box-shadow: 0vh 1vh 1vh #12121234;
}