<div id="welcome_div">
    <h1 class="title"> Lista de Serviços </h1>
    <span> Acesse a lista de serviços pendentes e realizados! </span>

    <p>Bem-vindo, {{user.name}}!</p>

    <p>Este é o seu painel.</p>

    <br>

    <button class="btn btn-light" onclick="window.location.href='/lista'"> Visualizar serviços! </button>
</div>