<form action="/login" method="post" class="login-form">

  <h2> ENTRAR </h2>

  <input type="email" name="email" placeholder="E-mail" required>

  <br>

  <input type="password" name="password" placeholder="Senha" required>
  {{#if error}}
    <p>{{error}}</p>
  {{/if}}
  <button type="submit"> LOGIN </button>

  <br>

  <span onclick="window.location.href='/registrar'" style="cursor: pointer;"> Não tem uma conta? <strong> Faça uma! </strong> </span>
</form>